In [1]:
#importing essential libraries
import numpy as np
import pandas as pd

In [2]:
#loading my netflix dataset
df = pd.read_csv("NFLX.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900
...,...,...,...,...,...,...,...
1004,2022-01-31,401.970001,427.700012,398.200012,427.140015,427.140015,20047500
1005,2022-02-01,432.959991,458.480011,425.540009,457.130005,457.130005,22542300
1006,2022-02-02,448.250000,451.980011,426.480011,429.480011,429.480011,14346000
1007,2022-02-03,421.440002,429.260010,404.279999,405.600006,405.600006,9905200
1008,2022-02-04,407.309998,412.769989,396.640015,410.170013,410.170013,7782400

In [3]:
#deleting date and adj close columns
del df["Date"]
del df["Adj Close"]
df

            Open        High         Low       Close    Volume
0     262.000000  267.899994  250.029999  254.259995  11896100
1     247.699997  266.700012  245.000000  265.720001  12595800
2     266.579987  272.450012  264.329987  264.559998   8981500
3     267.079987  267.619995  250.000000  250.100006   9306700
4     253.850006  255.800003  236.110001  249.470001  16906900
...          ...         ...         ...         ...       ...
1004  401.970001  427.700012  398.200012  427.140015  20047500
1005  432.959991  458.480011  425.540009  457.130005  22542300
1006  448.250000  451.980011  426.480011  429.480011  14346000
1007  421.440002  429.260010  404.279999  405.600006   9905200
1008  407.309998  412.769989  396.640015  410.170013   7782400

[1009 rows x 5 columns]

In [4]:
#seperating close column
Y = np.array(df["Close"])
Y

array([254.259995, 265.720001, 264.559998, ..., 429.480011, 405.600006,
       410.170013])

In [5]:
#deleting close column after seperating in Y variable
del df["Close"]
df

            Open        High         Low    Volume
0     262.000000  267.899994  250.029999  11896100
1     247.699997  266.700012  245.000000  12595800
2     266.579987  272.450012  264.329987   8981500
3     267.079987  267.619995  250.000000   9306700
4     253.850006  255.800003  236.110001  16906900
...          ...         ...         ...       ...
1004  401.970001  427.700012  398.200012  20047500
1005  432.959991  458.480011  425.540009  22542300
1006  448.250000  451.980011  426.480011  14346000
1007  421.440002  429.260010  404.279999   9905200
1008  407.309998  412.769989  396.640015   7782400

[1009 rows x 4 columns]

In [6]:
#Converting whole dataset into 2-D array
X = df.values
X

array([[2.62000000e+02, 2.67899994e+02, 2.50029999e+02, 1.18961000e+07],
       [2.47699997e+02, 2.66700012e+02, 2.45000000e+02, 1.25958000e+07],
       [2.66579987e+02, 2.72450012e+02, 2.64329987e+02, 8.98150000e+06],
       ...,
       [4.48250000e+02, 4.51980011e+02, 4.26480011e+02, 1.43460000e+07],
       [4.21440002e+02, 4.29260010e+02, 4.04279999e+02, 9.90520000e+06],
       [4.07309998e+02, 4.12769989e+02, 3.96640015e+02, 7.78240000e+06]])

In [7]:
#importing model_selection from sklearn for spliting X and Y into training and testing
from sklearn import model_selection
X_train, X_test ,Y_train,Y_test = model_selection.train_test_split(X,Y, test_size = 0.3) 
X_train,Y_train

(array([[3.70660004e+02, 3.76000000e+02, 3.67079987e+02, 7.94340000e+06],
        [2.66579987e+02, 2.72450012e+02, 2.64329987e+02, 8.98150000e+06],
        [4.35690002e+02, 4.47000000e+02, 4.27269989e+02, 7.01460000e+06],
        ...,
        [3.10579987e+02, 3.11880005e+02, 3.05299988e+02, 6.17910000e+06],
        [6.28179993e+02, 6.39869995e+02, 6.26359985e+02, 4.58040000e+06],
        [2.71809998e+02, 2.74019989e+02, 2.68799988e+02, 4.82740000e+06]]),
 array([367.679993, 264.559998, 438.269989, 318.829987, 443.399994,
        298.600006, 678.799988, 313.299988, 540.72998 , 368.149994,
        565.169983, 495.079987, 369.75    , 410.170013, 593.26001 ,
        654.059998, 335.660004, 502.109985, 268.029999, 513.469971,
        335.829987, 494.73999 , 265.920013, 339.670013, 491.869995,
        538.849976, 326.130005, 343.429993, 604.559998, 298.929993,
        360.869995, 591.059998, 274.880005, 375.220001, 339.730011,
        275.299988, 691.690002, 411.890015, 358.820007, 512.400024,
        321.98999 , 510.799988, 523.26001 , 579.840027, 294.149994,
        361.399994, 413.5     , 317.940002, 363.600006, 362.660004,
        302.5     , 521.659973, 267.660004, 629.76001 , 482.880005,
        359.609985, 651.450012, 602.130005, 556.780029, 674.049988,
        413.549988, 350.920013, 298.440002, 485.809998, 498.339996,
        610.539978, 504.540009, 554.580017, 441.950012, 358.      ,
        520.700012, 357.320007, 502.779999, 354.640015, 503.380005,
        470.5     , 504.579987, 508.899994, 530.869995, 280.480011,
        293.970001, 352.600006, 610.710022, 518.909973, 351.040009,
        295.029999, 469.959991, 300.690002, 488.809998, 374.850006,
        368.700012, 612.090027, 327.5     , 512.179993, 512.659973,
        547.820007, 278.049988, 386.      , 349.359985, 304.320007,
        285.529999, 480.670013, 332.630005, 365.98999 , 476.26001 ,
        527.330017, 356.869995, 485.      , 364.709991, 369.670013,
        281.209991, 530.76001 , 539.849976, 582.869995, 377.049988,
        301.829987, 372.779999, 359.730011, 553.72998 , 326.459991,
        657.580017, 309.100006, 530.309998, 515.150024, 415.440002,
        371.070007, 315.      , 499.100006, 530.789978, 266.690002,
        592.390015, 497.890015, 511.290009, 524.590027, 364.079987,
        364.970001, 419.730011, 328.190002, 506.440002, 349.190002,
        283.109985, 490.76001 , 525.690002, 353.190002, 482.839996,
        493.600006, 424.679993, 526.27002 , 593.73999 , 364.700012,
        427.309998, 483.859985, 278.549988, 369.429993, 302.859985,
        361.410004, 285.809998, 557.280029, 374.230011, 325.160004,
        339.850006, 547.919983, 369.950012, 495.98999 , 449.869995,
        294.179993, 485.640015, 519.119995, 484.529999, 541.059998,
        365.209991, 282.929993, 491.170013, 482.679993, 368.040009,
        332.029999, 515.780029, 503.839996, 319.5     , 490.700012,
        353.160004, 327.769989, 306.160004, 502.899994, 366.230011,
        499.23999 , 315.899994, 488.929993, 280.290009, 349.600006,
        338.019989, 399.390015, 331.820007, 299.109985, 492.390015,
        510.720001, 326.670013, 310.480011, 379.959991, 304.209991,
        414.329987, 489.429993, 353.369995, 671.659973, 271.269989,
        317.380005, 468.040009, 453.720001, 487.220001, 480.630005,
        447.769989, 338.619995, 325.929993, 359.929993, 487.269989,
        339.100006, 305.76001 , 429.320007, 614.23999 , 373.690002,
        396.720001, 539.809998, 367.880005, 309.98999 , 326.      ,
        336.899994, 266.769989, 319.959991, 379.929993, 509.      ,
        508.890015, 343.089996, 268.149994, 523.280029, 364.369995,
        296.779999, 321.089996, 547.530029, 281.859985, 434.049988,
        395.420013, 307.779999, 519.299988, 517.570007, 541.640015,
        337.450012, 466.929993, 315.100006, 628.289978, 329.089996,
        487.700012, 344.440002, 317.5     , 290.059998, 550.640015,
        592.640015, 418.970001, 315.470001, 499.549988, 292.01001 ,
        516.390015, 489.820007, 519.200012, 353.540009, 538.599976,
        566.179993, 348.109985, 436.25    , 625.580017, 527.51001 ,
        501.339996, 548.72998 , 325.209991, 302.600006, 368.329987,
        554.440002, 365.48999 , 486.690002, 509.079987, 291.570007,
        294.399994, 372.279999, 553.289978, 265.320007, 354.73999 ,
        555.309998, 342.880005, 289.619995, 317.920013, 356.970001,
        267.660004, 500.48999 , 332.670013, 348.869995, 665.640015,
        530.719971, 508.820007, 687.400024, 513.950012, 486.279999,
        288.269989, 500.190002, 390.390015, 664.780029, 403.829987,
        484.670013, 301.779999, 313.980011, 367.450012, 302.799988,
        427.140015, 291.519989, 260.579987, 503.059998, 419.890015,
        312.459991, 524.880005, 551.340027, 505.549988, 583.849976,
        387.779999, 276.019989, 539.419983, 658.289978, 367.720001,
        306.700012, 418.649994, 325.899994, 249.470001, 425.920013,
        266.630005, 293.25    , 361.459991, 484.980011, 253.669998,
        312.279999, 266.980011, 374.600006, 346.459991, 353.399994,
        332.220001, 291.440002, 357.130005, 317.      , 521.869995,
        422.959991, 567.52002 , 488.940002, 479.100006, 338.690002,
        520.549988, 489.049988, 287.98999 , 370.019989, 428.149994,
        358.100006, 263.079987, 325.220001, 514.47998 , 546.880005,
        383.790009, 255.570007, 482.350006, 313.359985, 305.160004,
        539.440002, 319.75    , 351.350006, 355.929993, 483.380005,
        344.720001, 378.809998, 606.049988, 264.75    , 501.769989,
        493.369995, 365.799988, 384.480011, 537.309998, 535.090027,
        532.280029, 523.109985, 509.640015, 379.5     , 398.390015,
        447.23999 , 688.289978, 484.480011, 290.299988, 524.830017,
        367.649994, 262.130005, 349.920013, 286.809998, 332.700012,
        532.900024, 529.559998, 440.519989, 360.570007, 532.390015,
        256.079987, 351.339996, 288.589996, 333.200012, 550.119995,
        352.01001 , 333.100006, 321.100006, 397.5     , 288.75    ,
        589.349976, 513.390015, 318.690002, 334.519989, 495.649994,
        336.059998, 361.040009, 320.350006, 358.820007, 315.480011,
        476.619995, 375.429993, 345.609985, 549.570007, 291.029999,
        575.429993, 254.589996, 290.390015, 552.780029, 320.269989,
        327.730011, 369.01001 , 294.160004, 547.950012, 289.929993,
        298.839996, 520.799988, 387.149994, 391.429993, 531.049988,
        378.670013, 286.209991, 490.649994, 289.290009, 361.76001 ,
        366.959991, 281.040009, 590.530029, 606.710022, 421.380005,
        276.820007, 616.469971, 310.829987, 307.019989, 546.98999 ,
        365.359985, 475.470001, 339.26001 , 331.619995, 546.539978,
        404.980011, 349.290009, 510.399994, 321.160004, 504.209991,
        632.659973, 488.279999, 617.77002 , 250.100006, 477.579987,
        633.799988, 541.940002, 597.539978, 381.049988, 369.609985,
        295.350006, 515.919983, 292.859985, 323.570007, 400.480011,
        452.579987, 347.609985, 502.410004, 504.790009, 380.01001 ,
        343.279999, 370.720001, 533.5     , 559.070007, 341.309998,
        359.970001, 363.649994, 233.880005, 288.850006, 431.820007,
        500.769989, 542.950012, 552.840027, 533.030029, 351.829987,
        586.5     , 280.269989, 500.859985, 514.25    , 350.619995,
        302.570007, 282.649994, 332.700012, 492.98999 , 316.480011,
        355.709991, 286.730011, 516.049988, 366.600006, 487.350006,
        520.650024, 354.269989, 426.700012, 329.049988, 485.230011,
        348.679993, 298.98999 , 380.709991, 518.909973, 267.619995,
        354.98999 , 351.850006, 367.649994, 356.269989, 582.070007,
        533.97998 , 339.170013, 339.5     , 290.609985, 262.799988,
        466.26001 , 434.480011, 513.630005, 679.330017, 357.119995,
        377.869995, 524.890015, 311.649994, 361.209991, 457.130005,
        586.340027, 451.040009, 291.450012, 540.669983, 488.51001 ,
        439.170013, 303.470001, 370.959991, 497.519989, 517.919983,
        531.789978, 547.580017, 320.799988, 312.869995, 349.730011,
        301.049988, 270.600006, 323.309998, 436.529999, 290.170013,
        377.880005, 362.200012, 333.130005, 269.579987, 270.940002,
        553.409973, 614.090027, 655.98999 , 355.730011, 519.969971,
        254.259995, 539.039978, 381.720001, 346.709991, 366.959991,
        681.169983, 496.950012, 359.459991, 603.349976, 604.919983,
        258.820007, 507.790009, 610.340027, 338.380005, 282.880005,
        344.5     , 271.200012, 379.480011, 540.840027, 631.849976,
        322.440002, 341.179993, 503.859985, 377.339996, 266.      ,
        265.720001, 385.029999, 367.320007, 398.179993, 541.450012,
        363.920013, 308.929993, 473.079987, 421.970001, 261.429993,
        493.329987, 287.410004, 525.5     , 344.709991, 414.769989,
        355.209991, 291.380005, 577.76001 , 363.089996, 315.440002,
        359.910004, 586.72998 , 326.399994, 548.219971, 597.369995,
        331.440002, 646.909973, 371.040009, 363.519989, 345.089996,
        500.029999, 297.570007, 419.600006, 486.769989, 380.399994,
        362.75    , 591.150024, 480.23999 , 682.609985, 313.480011,
        624.940002, 257.950012, 286.600006, 346.48999 , 602.440002,
        258.269989, 508.049988, 540.219971, 522.859985, 546.150024,
        351.140015, 379.23999 , 540.679993, 358.859985, 491.899994,
        377.140015, 338.049988, 598.719971, 296.929993, 359.700012,
        270.720001, 424.98999 , 455.040009, 269.700012, 362.869995,
        364.130005, 325.890015, 421.420013, 368.48999 , 315.25    ,
        312.48999 , 351.290009, 325.220001, 520.25    , 369.029999,
        357.320007, 322.98999 , 613.150024, 274.459991, 336.630005,
        267.529999, 293.350006, 316.779999, 492.410004, 366.950012,
        374.130005, 507.76001 , 361.920013, 534.659973, 501.089996,
        668.400024, 363.019989, 340.660004, 416.76001 , 634.809998,
        682.02002 , 425.5     , 364.230011, 627.039978, 278.519989,
        294.339996, 346.399994, 376.160004, 310.100006, 639.099976,
        271.5     ]))

In [8]:
print(X_train.shape)
print(Y_train.shape)

(706, 4)
(706,)

In [9]:
#importing Linear Regression model from sklearn for predicting closing stockes of netflix
from sklearn.linear_model import LinearRegression
algo = LinearRegression()
algo.fit(X_train,Y_train)
Y_predict = algo.predict(X_test)
print(Y_predict)
print(Y.shape)

[498.87622171 294.55659896 338.76758301 273.33076648 288.04594884
 484.6907944  488.68485138 663.31458684 495.72027387 515.02603737
 558.7183525  294.54814014 662.92590796 605.59222596 359.17193771
 305.68996395 477.81363178 514.97096845 367.26984307 499.94285068
 303.8449184  384.54479523 277.17225138 282.83503547 310.44075842
 593.12191738 483.21824561 357.20210877 331.8344207  500.68399874
 540.80639806 352.97405881 450.14828593 375.13113063 331.89750231
 317.72818798 314.4351522  359.12988687 517.80961637 492.58410447
 608.81523878 374.19541221 560.05787644 399.55465562 461.6827648
 434.48576303 357.19998658 629.20383646 345.19496634 686.41933434
 528.76530998 357.56324169 333.17654183 291.56978455 311.95079858
 492.66416285 337.2619389  432.85740717 321.55835939 529.540394
 323.20140385 459.91414311 431.25941996 378.72012347 333.38223386
 552.03536473 341.19528222 517.70661971 358.13120525 391.95532881
 286.57204518 593.16485697 284.12535397 485.32053704 338.82409744
 502.05675643 309.18212526 293.38180056 506.49192788 592.92941495
 679.56187447 295.03622247 263.05389559 550.62663709 298.45910159
 510.71590118 282.30497824 379.77533545 358.5683298  290.10840254
 395.80862031 416.36090165 387.81555954 665.32035786 349.35927693
 553.32344659 367.74668278 300.43593628 348.33935427 488.21398424
 354.3591412  309.58805638 490.46861565 389.65119447 393.37394736
 366.56216448 363.53017367 519.67210593 271.58128646 295.78446234
 379.8859193  573.98409458 391.29396713 322.65211741 370.56100347
 346.37760375 509.48346805 329.87634266 523.22145242 341.2023925
 552.92068786 325.924419   377.40734921 357.10463954 502.44787507
 615.76264505 507.01205747 519.19008222 412.7288638  503.76878782
 628.13324955 315.17183193 528.5495328  334.3853257  247.50902679
 295.06542773 357.85035459 494.20103649 360.98860439 520.95763903
 309.67656298 557.41484807 340.8659575  667.21170777 626.6088546
 473.01855698 468.33504003 351.49922917 484.07100755 287.09058206
 541.65165719 510.47722191 391.5999163  481.06640181 352.70737668
 357.49035799 337.869303   585.78188784 525.87632884 534.35672042
 611.25354116 529.72246712 484.77598518 290.81774041 498.85001989
 651.18796389 552.04931055 500.22032615 292.51331671 489.50496631
 284.49434376 596.43576108 481.86128654 383.61729108 423.33326372
 554.19335564 375.73179917 368.68027876 505.16496673 518.25431689
 555.55294468 508.09929128 565.31689184 355.44809651 364.37551721
 272.34941328 355.06142705 346.58353687 315.44854811 515.51634727
 372.72946798 352.0157518  364.42665294 331.78530824 439.98286841
 268.98218327 534.4482134  440.4257165  307.26950317 344.33171568
 286.4377536  515.14008667 369.3277912  310.29577267 306.24748962
 517.13131488 373.30807558 417.02079123 610.47656404 498.46390649
 514.94560971 492.77169194 380.97842799 366.76959242 511.87991845
 500.11537033 318.28915762 383.18846924 508.99436469 412.40719773
 489.53380885 350.92877993 346.8317746  379.5648952  489.55894889
 501.83342401 346.58820789 308.35520227 565.32222554 490.20239106
 492.76306472 495.91344901 414.31767135 362.21604308 375.79051565
 346.864404   345.5924711  500.21868687 537.24288306 328.34806259
 543.59927231 483.13421435 339.24456517 535.05893136 323.30484381
 439.4166415  316.76500153 368.51150127 543.33496224 650.17320974
 328.80819836 359.44402751 370.81824983 525.07541547 548.60252986
 360.93318938 354.18484766 356.63428492 380.39855311 501.53809384
 363.90614595 286.0549226  290.87115021 490.89481392 369.50254071
 435.50247732 324.94954253 330.61232117 419.8264065  326.17265134
 370.74733855 649.77978242 550.69855936 312.02598348 335.88516788
 535.06839794 300.25278027 503.34326505 420.39692955 530.90085688
 346.84306214 284.94432253 405.5567564  517.45916398 494.66188838
 481.98488213 551.40531036 324.51102524 530.20257105 514.23718913
 359.52344525 533.43491378 366.6542737  309.26174376 364.44212961
 637.16733649 363.80426199 327.21148401 310.45177551 349.02327222
 447.44346894 435.83588733 516.16699452]
(1009,)

In [ ]:
#printing score of my model
score = algo.score(X_test,Y_test)
score

In [13]:
df

            Open        High         Low    Volume
0     262.000000  267.899994  250.029999  11896100
1     247.699997  266.700012  245.000000  12595800
2     266.579987  272.450012  264.329987   8981500
3     267.079987  267.619995  250.000000   9306700
4     253.850006  255.800003  236.110001  16906900
...          ...         ...         ...       ...
1004  401.970001  427.700012  398.200012  20047500
1005  432.959991  458.480011  425.540009  22542300
1006  448.250000  451.980011  426.480011  14346000
1007  421.440002  429.260010  404.279999   9905200
1008  407.309998  412.769989  396.640015   7782400

[1009 rows x 4 columns]

In [14]:
o = float(input("Enter the opening price : "))
h = float(input("Enter the highest price of the day : "))
l = float(input("Enter the lowest price of the day : "))
v = float(input("Enter the total volume : "))

x_user = np.array([[o,h,l,v]])
y_user = algo.predict(x_user)
print("Closing Price of Stock = ",y_user)

Enter the opening price : 262.0
Enter the highest price of the day : 267.899994
Enter the lowest price of the day : 250.029999
Enter the total volume : 11836100
Closing Price of Stock =  [257.69727851]